.box
{
    height: 810px;
    width: 810px;
    border: 10px solid black;
    margin: auto;
}
.row
{
    width: 800;
    height: 100px;
}
.pink
{
    height: 100px;
    width: 100px;
    float: left;
    background-color: pink;
}
.black
{
    height: 100px;
    width: 100px;
    float: left;
    background-color: black;
}
.topspace
{
    margin-top: 5px;
}
.leftspace
{
    margin-left: 5px;
}